body {
	margin: 0;
	padding: 0;
}
input {
	display: block;
	margin: 20px auto;
}

main {
	display: grid;
	gap: 10px;
	width: 300px;
	margin: 0 auto;	
}

.card, img {
	width: 100%;
}

@media (min-width: 600px) {
	main {
		grid-template-columns: 1fr 1fr;
		width: 610px;
	}
}

@media (min-width: 960px) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
		width: 920px;
	}
}
